@import "./variables";

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: $bodyFontSize;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
}
