@import "./variables";

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: $bodyFontSize;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  height: 100%;
}

ul {
  list-style-type: none;
}

.main__container {
  width: 100%;
  display: grid;
  justify-items: center;
  background-repeat: no-repeat;
  background-size: contain;

  .todo__container {
    margin-top: 3rem;
  }
}
