// body copy
$bodyFontSize: 1.125rem;

// primary
$brightBlue: hsl(220, 98%, 61%);
$checkBackground: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

// light theme
$veryLightGray: hsl(0, 0%, 98%);
$veryLightGrayishBlue: hsl(236, 33%, 92%);
$lightGrayishBlueLT: hsl(233, 11%, 84%);
$darkGrayishBlueLT: hsl(236, 9%, 61%);
$veryDarkGrayishBlueLT: hsl(235, 19%, 35%);

// dark theme
$veryDarkBlue: hsl(235, 21%, 11%);
$veryDarkDesaturatedBlue: hsl(235, 24%, 19%);
$lightGrayishBlueDT: hsl(234, 39%, 85%);
$lightGrayishBlueHover: hsl(236, 33%, 92%);
$darkGrayishBlueDT: hsl(234, 11%, 52%);
$veryDarkGrayishBlueDT: hsl(233, 14%, 35%);
$veryDarkGrayishBlueDT2: hsl(237, 14%, 26%);
